html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.customer-page-body {
    text-align: left;
    justify-content: left;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: 0.5px solid #000000;
}

.customer-name-text {
    padding-bottom: 3%;
}

.customer-description-text {
    width: 60%;
    padding-bottom: 3%;
}

