* {
    font-family: Shadows Into Light;
}

a {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 184, 28);
}

.location-group{
    padding-top: 1%;
}

.explore-body{
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}



.search-group{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;
}

.places-group {
    font-size: 5px;
}

.location-card {
    border: 0.5px solid #000000;
    padding-top: 20px;
    padding-bottom: 20px;
}