a {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 184, 28);
}

.forgot-password-page {
    background-image: url('../assets/rockies-alaska.jpeg') ; 
    background-size: cover;
    height: 100vh;
}

.forgot-password-body {
    font-family: Shadows Into Light;
    height: 75%;
    width: 28%;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.5px solid #000000;
    padding: 10px;
    background-color: #ffffff;
    opacity: 90%;
}

.forgot-password-tag {
    padding-top: 15%;
    padding-bottom: 15%;
}

.forgot-password-username-group {
    padding-bottom: 25%;
    padding-left: 10px;
    padding-right: 10px;
}


.forgot-password-text {
    text-decoration: none;
    color: #000000;
}
    

.submit {
    width: 40%;
}