a {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 184, 28);
}

.signup-page {
    background-image: url('../assets/sunset-in-yosemite-valley.jpg') ; 
    background-size: cover;
    height: 100vh;
}

.signup-body {
    font-family: Shadows Into Light;
    height: 75%;
    width: 28%;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.5px solid #000000;
    padding: 10px;
    background-color: #ffffff;
    opacity: 90%;
}

.create-tag {
    padding-top: 20px;
    padding-bottom: 25px;
}

.signup-username-group {
    padding-top: 20px;
    padding-bottom: 25px;
}

.first-name-text{
    margin-right: 5%;
}
.first-name-text, .last-name-text {
    align-items: left;
    display: inline;
    width: 45%;
}

.email-group {
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.password-group {
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.confirm-password-group {
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.signup-text {
    text-decoration: none;
    color: #000000;
}
    
  
.forgot-password,
.forgot-password a {
    padding-top: 10px;
    margin: 0;
}


.submit {
    width: 40%;
}