body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Shadows Into Light', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Shadows Into Light', cursive,
    monospace;
}
